<li class="nav-item dropdown">
    <a href="#" class="nav-link" id="notification-drop" data-bs-toggle="dropdown">
        <svg width="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12 17.8476C17.6392 17.8476 20.2481 17.1242 20.5 14.2205C20.5 11.3188 18.6812 11.5054 18.6812 7.94511C18.6812 5.16414 16.0452 2 12 2C7.95477 2 5.31885 5.16414 5.31885 7.94511C5.31885 11.5054 3.5 11.3188 3.5 14.2205C3.75295 17.1352 6.36177 17.8476 12 17.8476Z"
                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M14.3889 20.8572C13.0247 22.3719 10.8967 22.3899 9.51953 20.8572" stroke="currentColor"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <span class="bg-danger dots"></span>
    </a>
    <div class="sub-drop dropdown-menu iq-noti dropdown-menu-end p-0" aria-labelledby="notification-drop">
        <div class="card bg-transparent shadow-none m-0">
            <div class="card-header bg-transparent d-flex justify-content-between">
                <div class="header-title">
                    <p class="fs-6 ">Notificações</p>
                </div>
                <div class="header-title">
                    <p class="fs-6">Marcar todas</p>
                </div>
            </div>
            <div class="card-body p-0">
                <a href="#" class="iq-sub-card">
                    <div class="d-flex">
                        <img src="../assets/images/utilities/05.png" class="img-fluid avatar avatar-30 avatar-rounded"
                            alt="img51">
                        <div class="ms-3 w-100">
                            <h6 class="mb-0 ">Successfull transaction</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-0">15 mins ago</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="iq-sub-card">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <img src="../assets/images/utilities/03.png"
                                class="img-fluid avatar avatar-30 avatar-rounded" alt="img52">
                        </div>
                        <div class="ms-3 w-100">
                            <h6 class="mb-0 ">4 of Pending Transactions!</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-0">30 mins ago</p>

                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="iq-sub-card">
                    <div class="d-flex align-items-center">
                        <img src="../assets/images/utilities/04.png" class="img-fluid avatar avatar-30 avatar-rounded"
                            alt="img53">
                        <div class="ms-3 w-100">
                            <h6 class="mb-0 ">Cancelled order</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-0">55 mins ago</p>

                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="iq-sub-card">
                    <div class="d-flex align-items-center">
                        <img src="../assets/images/utilities/05.png" class="img-fluid avatar avatar-30 avatar-rounded"
                            alt="img54">
                        <div class="w-100 ms-3">
                            <h6 class="mb-0 ">New game arrivals</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-0">14 Mar</p>

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</li>