@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    string stringTime = "";
    int hour = DateTime.Now.Hour;
    if (hour >= 6 &&  hour < 12)
        stringTime = "Bom Dia";
    else
        if (hour >= 12 && hour < 18)
            stringTime = "Boa Tarde";
        else
            stringTime = "Boa Noite";
}

<div class="d-flex justify-content-between mb-3">
    <div>
        @if (SignInManager.IsSignedIn(User))
        {
            <h2 class="text-primary fw-bold mb-3">@stringTime, @UserManager.GetUserAsync(User).Result.Name</h2>
        }
        else
        {
            <h2 class="text-primary fw-bold mb-3">@stringTime, Serumaninho</h2>
        }
        <p>Seja Bem-vindo ao GalloFlix, sua coleção pessoal de informações de filmes.</p>
    </div>
    <div>
        <a asp-action="AllMovies" class="btn btn-sm btn-primary">Mais Filmes</a>
    </div>
</div>
