@{
    ViewData["Title"] = "Confirmação de Conta";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/register.css">
}

<div class="form-register w-100 m-auto" style="max-width: 600px;">
    <div class="text-center">
        <img src="~/img/logo.png" alt="Logo" width="250">
        <h5 class="my-3 fw-normal">Quase pronto!!</h5>
        <h6 class="my-3 fw-normal">Acesse o email informado para concluir o processo de criação de conta</h6>
    </div>
</div>
    
