@{
    ViewData["Title"] = "Confirmação de Conta";
    @* Layout = "~/Views/Shared/_LayoutAccount.cshtml"; *@
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css">
}

<div class="form-register">
    <div class="text-center">
        <img src="~/img/logo.png" alt="Logo" width="250">
        <h3 class="my-3 fw-normal">Quase pronto!!</h3>
        <h5 class="my-3 fw-normal">Acesse o email informado para concluir a criação de sua conta</h5>
    </div>
</div>
    
